body {
    margin: 0;
    padding: 0;
    font-family: oswald;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(to left bottom, lightblue, lightpink, lightblue);
}

/* ------------------------- Digital clock ------------------------- */

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    color: white;
    margin-top: 80px;
}

.clock {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
} 

.clock div {
    margin: 5px;
}

.clock span {
    width: 100px;
    height: 80px;
    background-color: slateblue;
    opacity: .8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    color: white;
}

.clock .text {
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: darkblue;
    opacity: 0.8;
}

.clock #ampm {
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: darkblue;
    margin-top: 80px;
}

/* ------------------------- Dad Joke Generator ------------------------- */
.container {
    background-color: rgba(255,255,255,0.3);
    padding: 20px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.3);
    border-radius: 15px;
    width: 65%;  /* This width is responsive! */
    max-width: 900px;
    margin: auto;
    text-align: center;
    color: darkblue;
    margin-bottom: 40px;
}

.heading {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 2px;
}

.heading img {
    height: 40px;
    margin-bottom: -6px;
}

.joke {
    font-size: 25px;
    font-weight: 500;
    margin: 40px;
}

.btn {
    font-size: 18px;
    font-weight: 700;
    font-family: oswald;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(255,255,255,0.3);
    border-color: rgba(255,255,255,0.6);
    text-transform: uppercase;
    width: 300px;
    color: darkblue;
    transition: all 300ms ease;
  
    
}

.btn:hover {
    background-color: rgba(255,255,255,0.5);
    box-shadow: 0 4px 4px rgba(0,0,0,0.3);
}


/* ------------------------- Feedback ------------------------- */

.containerFB {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255,255,255,0.6);
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    border-radius: 15px;
    padding: 20px;
    max-width: 350px;
    margin: auto;
    margin-bottom: 40px;
}

.ratings-container {
    display: flex;
}

.rating {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 5px;
    transition: all 300ms ease;
}

.rating:hover,
  .rating.active{
    cursor: pointer;
    background-color: slateblue;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    color: white;
}

.rating img {
    width: 40px;
}

.btnFB {
    background-color: darkblue;
    color: aliceblue;
    border: 0;
    margin: 10px;
    border-radius: 4px;
    padding: 12px 30px;
    cursor: pointer;
    transition: all 300ms ease;
}

.btnFB:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.btnFB:active {
    transform: scale(0.96);
}

.thankYou {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0;
}

.feedback {
    font-size: 22px;
    font-weight: 700;
    margin: 10px 0;
}

.para {
    font-size: 20px;
    font-weight: 500;
    color: slateblue;
    text-align: center;
    margin: 10px 0;
}

.btnBack {
    background-color: darkblue;
    color: aliceblue;
    border: 0;
    margin: 10px;
    border-radius: 4px;
    padding: 12px 30px;
    cursor: pointer;
    transition: all 300ms ease;
}

.btnBack:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.btnBack:active {
    transform: scale(0.96);
}




@media (max-width: 550px) {
    .clock span {
        width: 80px;
        height: 60px;
        font-size: 31px;
    }
    .clock #ampm {
        width: 40px;
        height: 30px;
        font-size: 20px;
        margin-top: 60px;
    } 
    .container{
        width: 80%; 
    }
    .joke {
        margin: 10px;
        margin-bottom: 40px;
    }
    .btn {
        width: 200px;
    }
    .containerFB {
        width: 70%;
    }
    
}